<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My test suite">
    <test name="testing">
        <classes>
            <class name="Get200" />
            <class name="Get401" />
            <class name="Get404" />
            <class name="SpecificUserEndpointTests" />
            <class name="RateLimitEndpointTests" />
        </classes>
    </test>
</suite>